<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="styles/documentation_index.css" />
    </head>
    <body class="d-page">
        <div class="d-page__wrapper">
            <h1 class="d-heading">
                Emply: Database schema documentation
            </h1>
            <div class="d-content">
                <h2 class="d-content__title">
                    List of schemas:
                </h2>
                <ul class="d-list">
                    <li class="d-list__item">
                        <a href="#">
                            Schema history
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema vac
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema system
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema log
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema utils
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema stats
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema kb
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema config
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema auth
                        </a>
                    </li>
                    <li class="d-list__item">
                        <a href="#">
                            Schema cvs
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="d-footer">
            <div class="d-footer__content">
                <div class="d-footer__info">
                    <p class="d-footer__info_copyright">
                        &copy;2014 Emply:
                    </p>
                    <p class="d-footer__info_page-title">
                        Database schema documentation
                    </p>
                </div>
                <div class="d-footer__generation-time">
                    <p class="d-footer__generation-time_label">
                        Сгенерировано
                        <span class="d-footer__generation-time_value">
                            0.71
                        </span>
                        сек
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>