.d-footer {
    width: 100%;
    height: 67px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.d-footer__content {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.d-footer__info {
    height: 67px;
    vertical-align: middle;
}

.d-footer__info_copyright, .d-footer__info_page-title {
    display: inline-block;
}
.d-footer__info_copyright, .d-footer__info_page-title, .d-footer__generation-time_label {
    line-height: 67px;
}

.d-footer__generation-time {
    position: absolute;
    right: 0;
    top: 0;
}

.footer-space {
    height: 67px;
    position: absolute;
    bottom: 0;
}